
<footer role="contentinfo" id="footer">
	<div class="container">
		<div class="row">
			<a href="/" class="logo js-ajax-link">K</a>
			<ul class="social-list">
				<li><a href="http://github.com/kiriaze" target="new"><i class="fa fa-github"></i></a></li>
				<li><a href="http://dribbble.com/kiriaze" target="new"><i class="fa fa-dribbble"></i></a></li>
				<li><a href="http://twitter.com/kiriaze" target="new"><i class="fa fa-twitter"></i></a></li>
				<li><a href="mailto:hello@kiriaze.com"><i class="fi fi-mail"></i></a></li>
			</ul>
		</div>
	</div>
</footer>
