<!-- set ITEM var to either posts or pages to simplify conditionals, keeping page open for comparing -->
{% if post.layout == 'post' %}
	{% assign ITEM = post %}
{% elsif page.title == 'Work' %}
	{% assign ITEM = project %}
{% else %}
	{% assign ITEM = page %}
{% endif %}

{% assign image = ITEM.image %}

{% if ITEM.heading %}
	{% assign heading = ITEM.heading %}
{% else %}
	{% assign heading = ITEM.title %}
{% endif %}

{% assign subheading = ITEM.subheading %}

<!-- Mar 30th, 2015, %b %-d, %Y -->
<!-- dont show date for work -->
{% if ITEM.categories contains 'work' %}
{% else %}
{% assign date = ITEM.date | date: "%m.%-d.%Y" %}
{% endif %}

{% if ITEM.layout == 'post' or page.title == 'Work' %}
	{% capture heading %}<a href="{{ ITEM.url }}">{{ ITEM.title }}</a>{% endcapture %}
{% endif %}

{% capture categories %}
{% if ITEM.categories.size > 0 %}
<span class="categories">
{% for cat in ITEM.categories %}
	<a href="{{ site.url | prepend: site.baseurl }}/categories/#{{ cat }}" title="Pages categorized in {{ cat }}" class="cat"><span class="term">{{ cat }}</span></a>
{% endfor %}
</span>
{% endif %}
{% endcapture %}

{% capture tags %}
{% if ITEM.tags.size > 0 %}
<span class="tags">
{% for tag in ITEM.tags %}
	<a href="{{ site.url | prepend: site.baseurl }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="tag"><span class="term">{{ tag }}</span></a>{% unless forloop.last %},{% endunless %}{% if forloop.last %}.{% endif %}
{% endfor %}
</span>
{% endif %}
{% endcapture %}

<!-- if heroText is set to true -->
{% if ITEM.heroText %}
<section class="hero hero-mod {{ ITEM.heroClasses }} {% if image %}has-hero{% endif %} {% if ITEM.video %}video-bg{% endif %}" {% if ITEM.midnight %} data-midnight="{{ ITEM.midnight }}" {% endif %}>

{% if ITEM.video %}
	<video class="work-title-bg work-title-video" preload="auto" poster="" autoplay="" loop="" muted="">
		<source src="{{ ITEM.video }}" type="video/mp4">
	</video>
{% elsif image %}
	<div class="hero-bg" style="background-image: url({{ image }});"></div>
{% endif %}

<div class="container hero-blurb">
	<h1 class="title" data-sr="enter bottom">{{ heading }}</h1>
	<h6 class="subtitle" data-sr="enter bottom">{{ subheading }}</h6>
	<div class="post-meta">
		{% if date %}
		<span class="date">{{ date }}</span>
		{% endif %}
		{{ categories }}
		{{ tags }}
	</div>
</div>

</section>
{% else %}
	<!-- full height image instead of hero bg and text overlay -->
	<section class="hero hero-mod cover-bg full-height" data-midnight="dark-bg">
		<div class="hero-bg" style="background-image: url({{ image }});"></div>
	</section>
{% endif %}
