<section class="text-align-center post-content" style="background-image: url(/assets/images/other/sketch-bg.svg); background-size: cover;" data-midnight="default">
	<div class="container">

		<h6 class="wow fadeInDown" data-wow-delay=".2s" data-wow-offset="50">The Brief</h6>

		<h2 class="wow fadeInDown" data-wow-delay=".4s" data-wow-offset="50">{{ page.blurb }}</h2>

		<p class="lead wow fadeIn" data-wow-delay=".6s">{{ page.lead }}</p>

		<ul class="project-details">
			<li class="wow fadeIn" data-wow-delay=".2s">
				<h6>My Role</h6>
				<span>
					{% for role in page.roles %}
						<span class="term">{{ role | capitalize }}</span>{% unless forloop.last %}/{% endunless %}
					{% endfor %}
				</span>
			</li>
			<li class="wow fadeIn" data-wow-delay=".4s">
				<h6>Employer</h6>
				<span>{{ page.employer }}</span>
			</li>
			<li class="wow fadeIn" data-wow-delay=".6s">
				<h6>Client</h6>
				<span>{{ page.client }}</span>
			</li>
		</ul>

		{% if page.projectURL %}
		<a href="{{ page.projectURL }}" class="btn project-link wow fadeInUp" data-wow-delay=".6s">Launch Website</a>
		{% endif %}

	</div>
</section>
