//
//
// Typography - core/_typography.scss
//
//

// Site Global Dimensions - Issue: ems are messing up if parent element is set to a font-size, cascades to child container and affects width. Weird.
$tiny:							480px; // 30em
$small:							768px; // 45em
$medium:						960px; // 60em
$large:							1280px; // 80em

// Base Typography Values
$rem-base:						16px !default;
$base-font-size:				100% !default; // $base-font-size is 16px
$base-line-height:				125% !default; // $base-line-height is 24px if 150%

// Heading Values
$header-line-height:			1.25 !default;
$header-top-margin:				.2rem !default;
$header-bottom-margin:			1rem !default;

$h1-font-size:					40 !default;
$h2-font-size:					34 !default;
$h3-font-size:					30 !default;
$h4-font-size:					26 !default;
$h5-font-size:					22 !default;
$h6-font-size:					16 !default;

// Paragraph Values
$small-font-size:				10 !default;
$paragraph-font-size:			16 !default;
$paragraph-lead-font-size:		20 !default;
$paragraph-bottom-margin:		1rem !default;
$paragraph-lead-bottom-margin:	1rem !default;
$paragraph-line-height:			1.8 !default;

// List Values
$list-bottom-margin:			.5rem !default;
$list-disc-left-margin:			.5rem !default;
$list-line-height:				1.6 !default;

// Blockquotes
$blockquotes-font-size:			21 !default;

// fonts - patterns/_fonts.scss
$body-font:						'Open Sans', helvetica, sans-serif; // bourbon font stacks
$header-font:					'Montserrat', $body-font; // theme specific



//
//
// Grid Layout - core/_grid.scss
//
//

// Container and Column classes for simplegrid
$container-class:				'container'; // defaults to [data-layout = "container"]
$row-class:						'row'; // defaults to [data-layout = "grid"]
$column-class:					'columns'; // defaults to [data-columns = "$"]
$number-of-columns:				12; // max number of columns
// $gridDebug:						true; // grid colors
// $gutter:						0;



//
//
// COLOR VARIABLES - patterns/_colors.scss
//
// - Cool
// - Warm
// - Gray Scale
//

// Cool
$aqua:                          #4fc1e9;
$blue:                          #3498db;
$navy:                          #001F3F;
$teal:                          #39CCCC;
$green:                         #2ECC40;
$seafoam:						#2ecc71;
$olive:                         #3D9970;
$lime:                          #01FF70;

// Warm
$yellow:                        #fff200;
$orange:                        #FF851B;
$red:							#FF4136;
$fuchsia:                       #F012BE;
$purple:                        #B10DC9;
$maroon:                        #85144B;

// Gray Scale
$white:                         #fff;
$silver:                        #ddd;
$gray:                          #aaa;
$black:                         #111;
$default:						#ebebeb;
$light-grey:                    #f5f5f5;
$dark-grey:                     #333;

// theme colors
$primary-color:                 #358AE4; // sticky blue
$accent-color:                  #eb352d; // red
$secondary-color:               $navy;
$tertiary-color:                #e6e5e1; // light tan
$highlight:						#358AE4; // hot pink #ec4786

// dark class
$dark:							#222;



//
//
// Animations - vendor/_animate.scss
//
//

// Animation Property Variables
$duration:						.35s; // was .15, upped for hero transition - or change via js
$delay:							.2s;
$transition:					all $duration cubic-bezier(0.2, .4, .1, 1);
$function:						ease;
$fill:							both;
$visibility:					visible;

// Animation Class Variables Setup
$fadeIn:						true;
$fadeInDown:					true;
$fadeInLeft:					true;
$fadeInRight:					true;
$fadeInUp:						true;
$fadeOut:						true;
$fadeOutDown:					true;
$fadeOutLeft:					true;
$fadeOutRight:					true;
$fadeOutUp:						true;
$fadeInScale:					true;
$fadeInScaleBig:				true;
$fadeOutScale:					true;
$fadeOutScaleBig:				true;
$slideOutUp:					true;
$slideInDown:					true;
