---
layout: default
title: Words.
subheading: Random thoughts, code and more.
bodyClass: blog-page
heroText: true
<!-- heroClasses: dark -->
<!-- midnight: dark-bg -->
image: /assets/images/projects/p1.jpg
---

<!-- commenting out for now -->
{% comment %}
<!-- exclude work/labs posts, but needs either more than 2 posts or a more recent post than the other categories -->
{% for post in site.posts limit:1 %}
	{% if post.categories contains 'work' or post.categories contains 'labs' %}
	{% else %}
	{% include hero.html %}
	{% endif %}
{% endfor %}
{% endcomment %}

{% include hero.html %}

<div class="post-list">
<!-- add offset:1 param in for loop below if including single post in hero above -->
{% for post in site.posts %}

	{% if post.categories contains 'work' or post.categories contains 'labs' %}

	{% else %}

	<article class="post dark {% if post.image %} has-image {% endif %}">
		<a href="{{ post.url | prepend: site.baseurl }}">
			<div class="post-bg" style="background-image: url({{ post.image }});"></div>
			<h2>{{ post.title }}</h2>
			<div class="post-meta">
				<span class="date">{{ post.date | date: "%m.%d.%Y" }}</span>
				{% if post.categories.size > 0 %}<span class="categories">{{ post.categories | join:" " }}</span>{% endif %}
				{% if post.tags.size > 0 %}<span class="tags">{{ post.tags | join:" / " }}</span>{% endif %}
			</div>
			{% if post.description %}<p>{{ post.description }}</p>{% endif %}
		</a>
	</article>

	{% endif %}

{% endfor %}

</div>
