/*	Buttons
============================================ */
@mixin btn($color:null) {
    // Setup
    @extend %ib;
    padding: 0 1.5em; // relative to button font size
    @include font-size($paragraph-font-size);
    @include border-radius(2px);
    margin-bottom: .5em;

    -webkit-appearance: none; // for strange mobile rendering
    transform: translateZ(0); // for when within elements that are being transformed

    // override <button>'s
    border: none;
    user-select: none;
    appearance: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    outline: 0;
	text-decoration: none;
	vertical-align: middle;

    transition: $transition;
}
