/*  Strip unit
============================================ */
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function em($size, $context: $rem-base) {
	@return ($size / $context) * 1em;
}

/*  Font Size (px, em, rem)
============================================ */
@mixin font-size($size, $rem: true, $vw: false) {

    $px: $size * 1px;
    $em: em( $size, strip-unit($rem-base) );
    $rem-unit: ( $size / strip-unit($rem-base) ) * 1rem;

    font-size: $px;
    font-size: $em;

    @if $rem {
        font-size: $rem-unit;
    }

    @if $vw {
        font-size: 4.5vw;
        // font-size: $size / strip-unit($rem-base) * 2.7vw;

        @include breakpoint($small) {
            // font-size: $size / strip-unit($rem-base) * 2.2vw;
            font-size: 2.4vw;
        }
        @include breakpoint($medium) {
            // font-size: $size / strip-unit($rem-base) * 1.30vw;
            font-size: 2vw;
        }
    }

}
// @include font-size(68, {OPTIONAL});
