//	Justified Vertically aligned Header / nav
//	Usage :
//	data-layout="grid"
//		.brand
//			a
//		nav
//			ul
@mixin justVertHeader( $stacked:true, $brandClass:'.brand' ) {
	#{$brandClass},
	#{$brandClass}:before,
	#{$brandClass} > *,
	nav,{
	    @extend %ib;
	    vertical-align: middle;
	    text-align: left;
	}
	#{$brandClass} {
	    height: 100%;
	    font-family: $header-font;
	}
	#{$brandClass}:before {
	    content: '';
	    height: 100%;
	}
	[data-layout],
	#{$container-class} { // i.e. .container
		height: 100%;
	}
	@if( $stacked == true ) {
		@include breakpoint($tiny) {
	        #{$brandClass},
	        #{$brandClass} > *,
	        nav {
	            height: auto;
	            width: auto;
	            display: block;
	            text-align: center;
	        }
	        #{$brandClass} > * {
                padding-bottom: 5%;
            }
	    }
	}
}