---
layout: default
---

{% include hero.html %}

{% if page.categories contains 'work' %}
	{% include work-meta.html %}
{% endif %}

{{ content }}

<section class="post-content">
	<div class="container">
		{% include disqus.html disqus_identifier=page.disqus_identifier %}
	</div>
</section>

{% if page.next_in_category.url and page.next_in_category.status == 'completed' %}
<div>
	<a href="{{ page.next_in_category.url | prepend: site.baseurl }}" title="next case:{{ page.next_in_category.title }}" class="next-post-alt js-ajax-link">
		<div class="container">
			<h6>Explore Another Case</h6>
			<h2>{{ page.next_in_category.title }}</h2>
		</div>
		<div class="hero-bg" style="background-image: url({{ page.next_in_category.image }}); background-position: center center;"></div>
	</a>
</div>
{% endif %}
