---
layout: default
---

{% include hero.html %}

<section class="post-content">
	<div class="container">

		{{ content }}

		<hr>

		{% include disqus.html disqus_identifier=page.disqus_identifier %}

	</div>
</section>



{% if page.next.categories contains 'work' %}
{% else %}
	{% if page.next.url %}
		<a href="{{page.next.url | prepend: site.baseurl }}" title="next Post:{{page.next.title}}" class="next-post-alt js-ajax-link">
			<div class="container">
				<h6>Explore Another Post</h6>
				<h2>{{page.next.title}}</h2>
			</div>
			<div class="hero-bg" style="background-image: url({{ page.next.image }}); background-position: center center;"></div>
		</a>
	{% endif %}
{% endif %}
