/*
   SKINS
   - Backgrounds
   - Colors
   - Border colors
   - SVG fills
   - SVG Strokes

*/

// NOTICE: maps dont work with libsass as of 10.25.14
// $vars set in _base.scss
$colors: (
	'aqua'		$aqua,
	'blue'		$blue,
	'navy'		$navy,
	'teal'		$teal,
	'green'		$green,
	'seafoam'	$seafoam,
	'olive'		$olive,
	'lime'		$lime,
	'yellow'	$yellow,
	'orange'	$orange,
	'red'		$red,
	'fuchsia'	$fuchsia,
	'purple'	$purple,
	'maroon'	$maroon,
	'white'		$white,
	'gray'		$gray,
	'silver'	$silver,
	'black'		$black,
	'default'	$default
);

/* Backgrounds */

.bg-navy {
    background-color: $navy;
}
.bg-blue {
    background-color: $blue;
}
.bg-aqua {
    background-color: $aqua;
}
.bg-teal {
    background-color: $teal;
}
.bg-olive {
    background-color: $olive;
}
.bg-green {
    background-color: $green;
}
.bg-seafoam {
    background-color: $seafoam;
}
.bg-lime {
    background-color: $lime;
}
.bg-yellow {
    background-color: $yellow;
}
.bg-orange {
    background-color: $orange;
}
.bg-red {
    background-color: $red;
}
.bg-fuchsia {
    background-color: $fuchsia;
}
.bg-purple {
    background-color: $purple;
}
.bg-maroon {
    background-color: $maroon;
}
.bg-white {
    background-color: $white;
}
.bg-gray {
    background-color: $gray;
}
.bg-silver {
    background-color: $silver;
}
.bg-black {
    background-color: $black;
}
.bg-default {
    background-color: $default;
}


/* Colors */

.navy {
    color: $navy;
}
.blue {
    color: $blue;
}
.aqua {
    color: $aqua;
}
.teal {
    color: $teal;
}
.olive {
    color: $olive;
}
.green {
    color: $green;
}
.seafoam {
    color: $seafoam;
}
.lime {
    color: $lime;
}
.yellow {
    color: $yellow;
}
.orange {
    color: $orange;
}
.red {
    color: $red;
}
.fuchsia {
    color: $fuchsia;
}
.purple {
    color: $purple;
}
.maroon {
    color: $maroon;
}
.white {
    color: $white;
}
.silver {
    color: $silver;
}
.gray {
    color: $gray;
}
.black {
    color: $black;
}
.default {
    color: $default;
}


/* Border colors */

.border--navy {
    border-color: $navy;
}
.border--blue {
    border-color: $blue;
}
.border--aqua {
    border-color: $aqua;
}
.border--teal {
    border-color: $teal;
}
.border--olive {
    border-color: $olive;
}
.border--green {
    border-color: $green;
}
.border--seafoam {
	border-color: $seafoam;
}
.border--lime {
    border-color: $lime;
}
.border--yellow {
    border-color: $yellow;
}
.border--orange {
    border-color: $orange;
}
.border--red {
    border-color: $red;
}
.border--fuchsia {
    border-color: $fuchsia;
}
.border--purple {
    border-color: $purple;
}
.border--maroon {
    border-color: $maroon;
}
.border--white {
    border-color: $white;
}
.border--gray {
    border-color: $gray;
}
.border--silver {
    border-color: $silver;
}
.border--black {
    border-color: $black;
}
.border--default {
    border-color: $default;
}


/* Fills for SVG */

.fill-navy {
    fill: $navy;
}
.fill-blue {
    fill: $blue;
}
.fill-aqua {
    fill: $aqua;
}
.fill-teal {
    fill: $teal;
}
.fill-olive {
    fill: $olive;
}
.fill-green {
    fill: $green;
}
.fill-seafoam {
	fill: $seafoam;
}
.fill-lime {
    fill: $lime;
}
.fill-yellow {
    fill: $yellow;
}
.fill-orange {
    fill: $orange;
}
.fill-red {
    fill: $red;
}
.fill-fuchsia {
    fill: $fuchsia;
}
.fill-purple {
    fill: $purple;
}
.fill-maroon {
    fill: $maroon;
}
.fill-white {
    fill: $white;
}
.fill-gray {
    fill: $gray;
}
.fill-silver {
    fill: $silver;
}
.fill-black {
    fill: $black;
}
.fill-default {
    fill: $default;
}

/* Strokes for SVG */

.stroke-navy {
    stroke: $navy;
}
.stroke-blue {
    stroke: $blue;
}
.stroke-aqua {
    stroke: $aqua;
}
.stroke-teal {
    stroke: $teal;
}
.stroke-olive {
    stroke: $olive;
}
.stroke-green {
    stroke: $green;
}
.stroke-seafoam {
	stroke: $seafoam;
}
.stroke-lime {
    stroke: $lime;
}
.stroke-yellow {
    stroke: $yellow;
}
.stroke-orange {
    stroke: $orange;
}
.stroke-red {
    stroke: $red;
}
.stroke-fuchsia {
    stroke: $fuchsia;
}
.stroke-purple {
    stroke: $purple;
}
.stroke-maroon {
    stroke: $maroon;
}
.stroke-white {
    stroke: $white;
}
.stroke-gray {
    stroke: $gray;
}
.stroke-silver {
    stroke: $silver;
}
.stroke-black {
    stroke: $black;
}
.stroke-default {
    stroke: $default;
}
