// @include font-face(Font Name, '../fonts/FontName/FontNameBold', 600);
// @include font-face(Another Font, '../fonts/FontName/FontNameRegular', 400);

// google fonts dont work in here with @import url(), include it in head file instead

@import './src/assets/fonts/ionicons/ionicons.min';
@include font-face(Ionicons, '../fonts/ionicons/ionicons', 400);

// custom path for bower foundation-icon-fonts
$fi-path: "../fonts";
@import "./src/assets/vendor/foundation-icon-fonts/foundation-icons";
