// lists
ul {
	li {
		&:before {
			display: inline-block;
			font-family: 'FontAwesome';
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			font-smoothing: antialiased;
			osx-font-smoothing: grayscale;
		}
	}
	&[class*='list-style-'] {
		i {
			padding-right: 5px;
		}
	}
	&.check {
		li {
			&:before {
				content: "\f00c";
				padding-right: 5px;
			}
		}
	}
	&.star {
		li {
			&:before {
				content: "\f005";
				padding-right: 5px;
			}
		}
	}
}
