section {
	position: relative;
	background-color: white;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-repeat: no-repeat;
	background-position: center;

	&.padding-top-medium {
		padding-top: 20rem;
	}
	&.padding-top-large {
		padding-top: 25rem;
	}
	&.padding-bottom-medium {
		padding-bottom: 20rem;
	}
	&.padding-bottom-large {
		padding-bottom: 25rem;
	}
	&.padding-medium {
		padding-top: 15rem;
		padding-bottom: 15rem;
	}
	&.padding-large {
		padding-top: 20rem;
		padding-bottom: 20rem;
	}

	&.no-padding-top {
		padding-top: 0;
	}
	&.no-padding-bottom {
		padding-bottom: 0;
	}
	&.no-padding {
		padding-top: 0;
		padding-bottom: 0;
	}

	@include breakpoint($small) {
		padding-top: 5rem;
		padding-bottom: 5rem;
		&.padding-top-large {
			padding-top: 25rem;
		}
		&.padding-bottom-large {
			padding-bottom: 25rem;
		}
	}

	@include breakpoint($small) {
		&.half-width-left {
			background-size: 50%;
			.container {
				padding-right: 50%;
			}
		}
		&.half-width-right {
			background-size: 50%;
			.container {
				padding-left: 50%;
			}
		}
		&.three-quarter-width-left {
			.container {
				padding-right: 25%;
			}
		}
		&.three-quarter-width-right {
			.container {
				padding-left: 25%;
			}
		}
	}

	&.cover-bg {
		display: block;
		position: relative;
		background-size: cover;
		background-position: center;
		&.contain-bg {
			background-size: contain;
			background-position: bottom center;
		}
		.container {
			z-index: 1;
		}
	}

	&.bg-repeat {
		background-repeat: repeat;
	}
	&.bg-repeat-x {
		background-repeat: repeat-x;
	}
	&.bg-repeat-y {
		background-repeat: repeat-y;
	}
	&.bg-top-left {
		background-position: top left;
	}
	&.bg-top-center {
		background-position: top center;
	}
	&.bg-top-right {
		background-position: top right;
	}
	&.bg-bottom-left {
		background-position: bottom left;
	}
	&.bg-bottom-center {
		background-position: bottom center;
	}
	&.bg-bottom-right {
		background-position: bottom right;
	}
	&.bg-left-center {
		// background-position: bottom center;
		// padding-bottom: 40rem;
		// @include breakpoint($small) {
			background-position: left center;
		// }
	}
	&.bg-right-center {
		// background-position: bottom center;
		// padding-bottom: 40rem;
		// @include breakpoint($small) {
			background-position: right center;
		// }
	}

	&.stripe:nth-child(even) {
		background-color: $light-grey;
	}

}
