.social-icons {
	text-align: center;
	margin: 2rem 0 0;
	li {
		display: inline-block;
		margin-right: 2.5rem;
		margin-bottom: 0;
		&:last-child {
			margin: 0;
		}
	}
}

@include breakpoint($small) {
	.padding-top-small {
		padding-top: 10rem;
	}
	.padding-bottom-small {
		padding-bottom: 10rem;
	}
}

// Juice gh-pages styles
.gist-file pre {
	color: #222;
}

// grid page styles
.example-grid {

	[class*='#{$column-class}-'],
	[data-columns] {
		background: $primary-color;
		color: white;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		font-weight: 600;
		line-height: 1.5;
		padding: 1.5rem 0;
		@include breakpoint($small) {
			padding: 1.5rem;
		}
		p {
			font-weight: 400;
		}
		h2 {
			margin: 0;
		}
	}

}
