// file for overriding type styles easily
body {
	// font-family: "proxima nova", sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	word-wrap: break-word;
}

@for $i from 1 through 6 {
    h#{$i} {
		font-weight: 800;
		letter-spacing: -.07em;
    }
}

h6 {
	letter-spacing: -0.04rem;
}

ol li {
	margin: 1rem 0 1rem 1.5rem;
}

p {
	letter-spacing: 0.01rem;
	@include font-size(18);
	line-height: 3rem;

	line-height: 2rem;
	font-size: 1rem;

	&.lead {
		display: block;
		@include font-size(16);
		@include breakpoint($small) {
			@include font-size(21);
			line-height: 1.5;
			line-height: 2;
		}
		font-weight: 400;
		line-height: 200%;
		margin: 0 0 3rem;
	}
	a {
		font-weight: 500;
		color: #bbb;
		border-bottom: 1px solid #ddd;
		padding-bottom: 2px;

		&:hover {
			border-color: $primary-color;
			color: $primary-color;
		}
	}
}

blockquote {
	clear: both;
	border: 0;
	color: #333;
	@include font-size(28);
	line-height: 4.8rem;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0.01rem;
	text-align: center;
	.post-content & {
		@include breakpoint($small) {
			margin: 8% -5%;
		}
		@include breakpoint($medium) {
			margin: 8% -15%;
		}
		@include breakpoint($large) {
			margin: 8% -30%;
		}
	}
}

blockquote:after,
blockquote:before {
	border-top: 1px solid #DDD;
	content: '';
	display: block;
	width: 15%;
}

blockquote:before {
	margin: 0 auto 5%;
}

blockquote:after {
	margin: 5% auto 0;
}

blockquote cite {
	color: #BBB;
	font-size: 16px;
	font-size: 1.6rem;
	font-style: normal;
	margin-top: 2%;
}
