// global footer styles
#footer {
	position: relative;
	border-top: 1px solid #eee;
	background: white;
	padding: 2rem 0;
	// .home-page & {
	// 	display: none;
	// }
	.logo {
		float: left;
		@include font-size(30);
		color: $tertiary-color;
		font-family: $header-font;
		font-weight: 800;
		&:hover {
			color: $dark;
		}
	}
}
.social-list {
	float: right;
	margin: 0;
	li {
		display: inline-block;
		@include font-size(22);
		line-height: 1;
		margin: 0 0 0 .5rem;
		a {
			color: $tertiary-color;
			display: inline-block;
			vertical-align: middle;
			i {
				display: block;
				&.fi-mail:before {
					vertical-align: bottom;
					line-height: 0.9;
				}
			}
			&:hover {
				color: $dark;
			}
		}
	}
}
