// global footer styles
#footer {
	position: relative;
	border-top: 1px solid #eee;
	background: white;
	padding: 2rem 0;
	// .home-page & {
	// 	display: none;
	// }
	.logo {
		float: left;
		@include font-size(30);
		color: $tertiary-color;
		font-family: $header-font;
		font-weight: 800;
		&:hover {
			color: $dark;
		}
	}
	.made-with {

		display: none;

		font-family: $header-font;
		font-size: 2vw;
		font-weight: 800;
		margin-bottom: 0;
		text-align: center;
		color: $tertiary-color;
	}
}
.social-list {
	float: right;
	margin: 0;
	li {
		display: inline-block;
		@include font-size(25);
		line-height: 1.2;
		margin: 0 0 0 1rem;
		a {
			color: $tertiary-color;
			display: inline-block;
			vertical-align: middle;
			i {
				display: block;
			}
			&:hover {
				color: $dark;
			}
		}
	}
}
