// global header styles
#header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
	padding: 2rem 0;
	height: 100px;
	line-height: 100px;
	opacity: 0;
	@extend .fadeInDown;
	.home-page & {
		animation-delay: 2s;
	}
	.logo {
		float: left;
		font-family: $header-font;
		text-transform: uppercase;
		font-weight: 800;
	}
	// midnight js
	.midnightHeader.default {
		.logo {
			color: $dark;
			&:hover {
				color: $primary-color;
			}
		}
		#navicon {
			.line {
				background-color: $dark;
			}
		}
		#drawer-toggle {
			&:hover {
				~ #navicon {
					.line {
						background-color: $primary-color;
					}
				}
			}
		}
	}
	.midnightHeader.dark-bg,
	&.nav-open .midnightHeader {
		.logo {
			color: white;
			&:hover {
				color: darken($white, 20);
			}
		}
		#navicon {
			.line {
				background-color: white;
			}
		}
		#drawer-toggle {
			&:hover {
				~ #navicon {
					.line {
						background-color: darken($white, 20);
					}
				}
			}
		}
	}
}
