html,
body {

}

html {

}

body {
	// for fade transitions off of anchor links in app.js
	// background-color: black;
	// transition: $transition;
	// opacity: 0;
}

#main {

}

// custom for wow animations, header issue fix and custom speed overwrite
#header { visibility: hidden; }
.wow { visibility: hidden; }
.animated {
	animation-duration: 1s;
	animation-timing-function: ease;
}

// giflinks - manually added a class to the generated div within giflinks.js
.giflinks {
	@extend a;
}
.giflinks-overlay {
	z-index: 0 !important;
	.about-page &,
	.home-page & {
		opacity: .2;
	}
}

// about page stack icon list
.stack-list {
	list-style-type: none;
	font-size: 0;
	text-align: center;
	margin: 4% 0;
	@include breakpoint($medium) {
		max-width: 200%;
		margin: 8% -50%;
	}
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin: 1rem 0;
		width: 20%;
		@include breakpoint($medium) {
			margin: 2rem 0;
			height: 150px;
		}
		img {
			width: 50%;
			margin: 0 !important; // override post img styles
			height: 100%;
		}
	}
}

// tag/cat archives
.tag-heading {
	padding: 2rem;
	margin: 0;
}
.entry-title {
	margin: 0;
	border-bottom: 1px solid #eee;
	a {
		display: block;
		color: $dark;
		padding: 2rem;
		border-left: 0px solid $primary-color;
		font-family: $header-font;
		font-weight: 600;
		text-decoration: underline;
		&:hover {
			border-width: 5px;
			color: $primary-color;
			background-color: rgb(250, 250, 250);
		}
	}
}


// js class for random on load
.random {
	display: none; // hiding both versions by default, js picks one at random to show
}

section {
	overflow: hidden; // prevent mobile browsers from horiz scrolling
}

body,
#main {
	height: 100%; // for full height sections, like work list
}

// override grid padding for more breathable mobile experience
.container {
	transition: $transition;
	padding: 0 8%;
	@include breakpoint($small) {
		padding: 0 1.5%;
	}
}

.pagination {
	clear: both;
}

// simple search input and results
#search-container {
    font-family: "open sans", sans-serif;
	#results-container {
		overflow: auto;
		max-height: 350px;
		text-align: center;
		li {
		    margin: 0 auto;
		    max-width: 80%;
			a {
			    display: block;
			    border-bottom: 1px solid #eee;
			    padding-bottom: 1rem;
			    padding-top: 1rem;
			    padding-left: 1rem;
			    font-weight: 600;
			    color: #888;
			    &:hover {
			    	color: $primary-color;
			    }
			    span {
			    	display: block;
					&:first-letter {
						text-transform: capitalize;
					}
			    }
			}
		}
	}

	input#search-input {
	    padding: 1rem;
	    width: 100%;
	    border-width: 2px;
	    font-size: 0.9rem;
	    font-weight: 600;
	}
}

// projects
.stickybumps-bg {
	background-color: #358AE4; // blue
	color: white;
	&.svg {
		svg {
			position: absolute;
			bottom: -3px; // really shitty svg
			left: 50%;
			right: 0;
			transform: translateX(-50%);
			path,
			rect,
			polygon,
			circle,
			polyline,
			line {
				stroke: white;
			}
		}
	}
}

.home-page {
	.hero.full-height {
		// min-height: calc(100% - 95px);
		padding: 0;
	}
}

// home page headline
.cd-intro {
	.lead {
		margin: 0;
	}
	.cd-headline {
		line-height: 1;
	}
	.cd-words-wrapper {
		color: $highlight;
		padding-bottom: .5rem;
		width: 100% !important;
	}
	.lead {
		span {
			@include fadeIn(.35s, .2s, ease-in-out, $fill, $visibility);
			&:nth-child(1) {
				animation-delay: 1.2s;
			}
			&:nth-child(2) {
				animation-delay: 1.3s;
			}
			&:nth-child(3) {
				animation-delay: 1.4s;
			}
			&:nth-child(4) {
				animation-delay: 1.5s;
			}
		}
		a {
			padding-bottom: 0;
		}
	}
	h1 {
		@include breakpoint($large) {
			max-width: 80%;
		}
	}
	br {
		display: none;
	}
	@include breakpoint($small) {
		br {
			display: inline;
		}
	}
}

// full height sections
.full-height {
	min-height: 100%;
	display: flex;
	align-items: center;
}

// also used for equal heights within app.js
.split-content {
	.content {
		padding: 10%;
	}
}

.padded {
	padding-top: 3rem;
	padding-bottom: 3rem;
	@include breakpoint($small) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

.btn {
	@include font-size(12);
	font-family: $header-font;
	font-weight: 600;
	color: $dark;
	line-height: 1;
	padding: 1rem 2rem;
	margin-top: 1rem;
	letter-spacing: 1px;
	display: inline-block;
	border: 2px solid $dark;
	text-transform: uppercase;
	.dark &,
	.cover-bg & {
		color: white;
		border-color: white;
	}
	&:hover {
		border-color: $dark;
		background: $dark;
		color: white;
		.dark &,
		.cover-bg & {
			background-color: white;
			border-color: white;
			color: $dark;
		}
	}
	&.project-link {
		margin-top: 2rem;
	}
}

.dark {
	background-color: $dark;
	color: white;
}


#nprogress .bar {
	background: $primary-color;
}

#nprogress .peg {
	box-shadow: 0 0 10px $primary-color, 0 0 5px $primary-color;
}

#nprogress .spinner-icon {
    border-top-color: $primary-color;
    border-left-color: $primary-color;
}

.project-tagline {
	text-align: center;
	margin-bottom: 4rem;
}

.project-details {
	text-align: justify;
	font-size: 0;
	margin: 4rem 0 0;
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
	li {
		text-align: center;
		display: inline-block;
		vertical-align: top;
		width: 33.33%;
		h6 {
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1px;
			font-size: 13px;
		}
		span {
			font-family: $header-font;
			font-weight: 600;
			font-size: .9rem;
		}
	}
}

// non medium version
.next-post-alt {
	cursor: pointer;
	text-align: center;
	padding: 10rem 0;
	display: block;
	position: relative;
	overflow: hidden;
	background: black;
	color: white;
	a {
		color: white;
	}
	.hero-bg {
		background-position: top center;
		background-size: cover;
		position: absolute;
		transition: $transition;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		transition: $transition;
	}
	&:hover {
		color: white;
		&:after {
			opacity: .3;
		}
		.hero-bg {
			opacity: .7;
			transform: scale(1.1);
		}
	}
	.container {
		padding: 0 20%;
		z-index: 1;
		h6 {
			text-transform: uppercase;
			letter-spacing: .05em;
		}
	}
}

.stats {
	border-top: 1px solid $tertiary-color;
	border-bottom: 1px solid $tertiary-color;
	text-align: justify;
	font-size: 0;
	margin: 5% -25%;
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
	li {
		border-right: 1px solid $tertiary-color;
		text-align: center;
		margin: 0;
		display: inline-block;
		width: 20%;
		padding: 2rem 0;
		&:last-child {
			border: none;
		}
		span {
			font-size: 3rem;
			font-weight: 600;
			font-family: $header-font;
			display: block;
			line-height: 1;
			margin-bottom: 1rem;
		}
		h6 {
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1px;
			font-size: 13px;
			margin: 0;
		}
	}
}

// blog page post list
.post-list {
	@extend .grid;
	@extend .no-gutter;
	p {
		margin-top: 1rem;
		line-height: 1.5;
	}
}
.post {
	position: relative;
	background-color: white;
	border-bottom: 1px solid $tertiary-color;
	border-right: 1px solid $tertiary-color;
	text-align: center;
	transition: $transition;
	@include breakpoint($small) {
		@include columns(2);
		text-align: left;
	}
	@include breakpoint($large) {
		&:nth-child(n+3) {
			@include columns(4);
		}
	}
	.container {
		max-width: 75%;
	}
	a {
		display: block;
		color: $dark;
		padding: 5rem 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: top;
		position: relative;
	}
	h2 {
		max-width: 600px;
		line-height: 1;
		letter-spacing: -.1rem;
	}
	&:before {
		content: '';
		position: absolute;
		background-color: $dark;
		height: 100%;
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: 0;
		transition: $transition;
	}
	&.has-image {
		&:before {
			display: none;
		}
		.post-bg {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			transition: $transition;
			opacity: 0;
			&:before {
				content: '';
				position: absolute;
				transition: $transition;
				background-color: rgba(0, 0, 0, 0.6);
				height: 100%;
				width: 100%;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				opacity: 0;
			}
		}
	}
	p {
		// display: none;
	}
	// work in progress lab post tag
	&.wip {
		border-left: 5px solid $primary-color;
		&:hover {
			border-left-color: $primary-color;
		}
	}
	&:hover {
		border-color: $dark;
		&:before {
			opacity: 1;
		}
		&.dark {
			h2,
			.post-meta,
			p {
				color: white;
			}
		}
		.post-bg {
			opacity: 1;
			&:before {
				opacity: 1;
			}
		}
	}
}

.post-meta {
	> span {
		display: inline-block;
		font-size: 0.8rem;
		margin: 0;
		font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: $header-font;
		&:after {
			content: ' / ';
		}
		&:last-child:after {
			content: '';
		}
	}
}

.light-heading {
	color: $tertiary-color;
}

.highlight-text {
	color: $highlight;
}

.hero-text-underline {
	color: $dark;
	text-decoration: underline;
}

.hero {
	padding-top: 40%;
	&.cover-bg {
		background-color: $dark;
	}
	@include breakpoint($small) {
		background-position: top center;
		background-size: cover;
		.hero-blurb {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
		}
	}
	.hero-bg {
		// @extend .fadeIn;
		// animation-delay: 1s;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	&.bottom-left,
	&.bottom-right,
	&.top-left,
	&.top-right {
		.container {
			transform: translate(-50%, -100%);
		}
	}
	&.bottom-left,
	&.bottom-right {
		.container {
			top: 95%;
		}
	}
	&.top-left,
	&.top-right {
		.container {
			top: 40%;
		}
	}
	&.bottom-right,
	&.top-right {
		.container {
			text-align: right;
		}
	}
	&.center {
		text-align: center;
		@include breakpoint($small) {
			h1 {
				max-width: 80%;
				margin: 0 auto;
			}
		}
	}
	&.video-bg {
		// background-color: white;
		.work-title-video {
			opacity: .3;
		}
	}
	.hero-blurb {

	}
	h1 {
		font-size: 1.7rem;
		letter-spacing: -.1rem;
		line-height: 1;

		@include breakpoint($tiny) {
			font-size: 1.9rem;
		}
		@include breakpoint($small) {
			// max-width: 80%;
			font-size: 3.5rem;
			letter-spacing: -.3rem;
		}
		@include breakpoint($medium) {
			font-size: 4.2rem;
		}
		@include breakpoint($large) {
			font-size: 4.75rem;
		}

		a {
			text-decoration: underline;
		}
	}
	h6 {
		margin-top: 1rem;
	}
	a:not(.btn) {
		color: $primary-color;
		&:hover {
			color: $dark;
		}
	}
	&.has-hero {
		a {
			color: white;
			&:hover {
				color: $dark;
			}
		}
	}

}

.about-page {
	.hero {
		height: 100%;
		background-color: $tertiary-color;
		// .hero-bg {
		// 	background: url(../images/posts/p2.jpg) #d2d2d2 no-repeat bottom center / cover;
		// 	@include breakpoint($small) {
		// 		background-size: contain;
		// 	}
		// }
		.container {
			h1 {
				color: white;
				@include breakpoint($small) {
					max-width: 100%;
					margin: 0;
				}
			}
		}
	}
}

.post-content {
	.container {
		overflow: visible;
		@include breakpoint($medium) {
			width: 100%;
			max-width: 800px;
			margin: 0 auto;
			padding: 0 5%;
			img {
				max-width: 180%;
				margin: 8% -40%;
			}
		}
	}
}

.work-title-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 0;
	background-size: cover;
	background-position: center;
	transition: $transition;
	&.work-title-video {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
	}
}

.work-title-list {
	background-color: $tertiary-color;
	background: #222;
	padding: 100px 0 50px;
	background-size: cover;
	overflow: hidden;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		overflow: visible;
		position: static;
	}

	a {
		color: rgba(255,255,255,.3);
		font-family: $header-font;
		text-transform: uppercase;
		letter-spacing: -.1rem;
		font-size: 1.7rem;
		font-weight: 800;
		line-height: 1;
		position: relative;
		z-index: 1;

		cursor: default;
		pointer-events: none;
		margin-right: .25rem;
		display: inline-block;

		@include breakpoint($tiny) {
			font-size: 1.9rem;
		}

		@include breakpoint($small) {
			font-size: 3.5rem;
			// letter-spacing: -.3rem;
		}
		@include breakpoint($medium) {
			font-size: 4.2rem;
		}
		@include breakpoint($large) {
			margin-right: 1rem;
			font-size: 4.75rem;
		}

		// completed projects
		&.completed {
			text-decoration: underline;
			cursor: pointer;
			pointer-events: auto;
			color: rgba(255,255,255,1);
		}

		&:hover {

			background-color: transparent;

			&.completed {
				& + .work-title-bg {
					// opacity: 1;
					opacity: 0.3;
					&.work-title-video {
						opacity: 0.3;
					}
				}
			}

		}

	}
}

.instagram-feed,
.dribbble-feed {
	@include grid();
	.instagram-item,
	.dribbble-item {
		@include columns(4);
		.block {
			@extend .ratio-4-3;
			display: block;
			.content {
				display: none;
			}
		}
	}
}

// example
// <div class='block'>
//     <div class='content'>Aspect ratio of 1:1</div>
// </div>
.block {
    overflow: hidden;
    position: relative;
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    transition: $transition;
    @extend %no-flick;

    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;  /* initial ratio of 1:1*/
    }

    @include breakpoint($small) {

        /* Other ratios */
        &.ratio-2-1:after {
            padding-bottom: 50%;
        }
        &.ratio-16-9:after {
            padding-bottom: 56.25%;
        }
        &.ratio-4-3:after {
            padding-bottom: 75%;
        }
        &.ratio-2-3:after {
            padding-bottom: 150%;
        }
        &.ratio-1-2:after {
            padding-bottom: 200%;
        }

    }

}

.grey-bg {
	background-color: $light-grey;
	li {
		padding-right: 2rem;
	}
	h2 {
		margin-bottom: 4rem;
	}
	h6 {
		// text-transform: uppercase;
	}
}

.text-columns {
	@include breakpoint($small) {
		column-count: 2;
	}
}

.secondary-bg {
	background-color: $secondary-color;
}

.accent-bg {
	background-color: $accent-color;
}

.theme-bg {
	background-color: $primary-color;
}

//  if body has class has-sidebar
.has-sidebar {
	.primary {
		@include breakpoint($medium) {
			@include columns(.7);
		}
	}
	#sidebar {
		@include breakpoint($medium) {
			@include columns(.3);
		}
	}
}

// attach to parent of desired container
// e.g. .columns-2 .content {}
.valign {
	@extend %valign;
}

.no-flick {
    @extend %no-flick;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* -- Use this wrapper if you want to block-out a column with padding
Taken from http://csswizardry.com/2011/10/the-island-object/) -- */
.island {
	@include breakpoint($small) {
		padding: 3rem 5rem;
	}
	@include breakpoint($medium) {
		padding: 3rem 7rem;
	}
	@include breakpoint($large) {
		padding: 3rem 15rem;
	}
}
