#nav {

}

.menu-overlay {
	.container {
		height: 100%;
		overflow: visible;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		@include breakpoint($tiny) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}
	}
	nav {
		@include breakpoint($tiny) {
			margin-bottom: 1rem;
		}
		ul {
			margin: 0;
			li {
				margin: 0;
				line-height: 1;
				// transform: translateX(-500px);
				transform: translateZ(0); // chrome bug fix
				opacity: 0;
				@for $i from 1 through 6 {
					&:nth-child(#{$i}) {
						transition: all 0.3s ease (0.075s * $i);
					}
				}

				a {
					font-family: $header-font;
					font-weight: 800;
					color: white;
					letter-spacing: -0.5vw;
					position: relative;
					font-size: 3.2rem;
					// landscape
					@media screen and (orientation: landscape) {
						@include breakpoint($tiny) {
							font-size: 5vw;
						}
					}
					// normal
					@include breakpoint($small) {
						font-size: 8vw;
					}

					// bg anim width
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0%;
						bottom: 0;
						z-index: -1;
						transform: translatex(calc(-50vw));
						background: $primary-color;
						transition: $transition;
						width: 0;
					}
					&:hover {
						color: white;
						&:before {
							width: calc(100vw + 100%);
							transform: translateX(calc(-100vw + 1rem));
						}
					}
					&.current {
						text-decoration: line-through;
					}

				}
			}
		}
	}
	// open
	&.nav-open {
		li {
			// transform: translateX(0);
			opacity: 1;
		}
	}
	.contact-details {
		font-family: $header-font;
		font-weight: 800;
		color: white;
		margin: 2rem 0;
		@include breakpoint($tiny) {
			text-align: right;
			margin: 0 0 1rem;
			flex: 1;
		}
		a {
			color: white;
		}
		.contact-info {
			li {
				margin-bottom: 0;
			}
			span {
				display: block;
			}
		}
	}
}


// hamburger design
#navicon {
	position: absolute;
	top: 34px;
	right: 8%; // .container padding
	width: 22px;
	height: 24px;
	z-index: 3;
	@include breakpoint($small) {
		right: 1.5%; // .container padding
	}
	border: none;
	.line {
		transition: all .2s;
		height: 2px;
		width: 100%;
		background-color: #000;
		position: absolute;
	}
	.line-one {
		top: 5px;
	}
	.line-two {
		top: 11px;
	}
	.line-three {
		bottom: 5px;
	}
}

@keyframes one {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// checkbox placement
#drawer-toggle {
	position: absolute;
	top: 34px;
	right: 8%; // .container padding
	margin: 0;
	z-index: 4;
	opacity: 0;
	width: 22px;
	height: 24px;
	cursor: pointer;
	@include breakpoint($small) {
		right: 1.5%; // .container padding
	}

	// hamburger animation
	&:hover {
		.line-one {
			animation: one .2s 1;
		}
		.line-two {
			animation: one .2s 1;
			animation-delay: .05s;
		}
		.line-three {
			animation: one .2s 1;
			animation-delay: .1s;
		}
	}

	&:checked {
		~ #navicon {
			.line {
				height: 2px;
				background-color: white;
			}
			.line-one {
				transform: rotate(45deg);
				top: 11px;
			}
			.line-two {
				opacity: 0;
			}
			.line-three {
				transform: rotate(-45deg);
				bottom: 11px;
			}
		}
	}
}


// overlay
.menu-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $dark;
	opacity: 0;
	transition: opacity 0.5s, visibility 0s 0.5s;
	visibility: hidden;
	z-index: 2;
}
#drawer-toggle:checked ~ .menu-overlay,
.menu-overlay.nav-open {
	transition: opacity .35s ease;
	visibility: visible;
	opacity: 1;
}


body.nav-open {
	overflow: hidden;
}
