<!doctype html>
<html class="no-js" lang="en">
	<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Code Markup</title>
	<meta name="description" content="Syntax highlighting is a feature that displays source code, in different colors and fonts according to the category of terms. This feature facilitates writin...">

	
	<meta name="keywords" content="sample post, code, highlighting, random">
	

	<!--Mobile Meta-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Open Graph -->
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="article">
	<meta property="og:title" content="Code Markup">
	<meta property="og:description" content="Demo post displaying the various ways of highlighting code in Markdown.">
	<meta property="og:url" content="/blog/code/code-markup">
	<meta property="og:site_name" content="Kiriaze">

	<!-- Twitter Cards -->
	
		
			<meta name="twitter:card" content="summary">
			<meta name="twitter:image" content="/assets/images/">
		
		<meta name="twitter:title" content="Code Markup">
		<meta name="twitter:description" content="Demo post displaying the various ways of highlighting code in Markdown.">
		<meta name="twitter:creator" content="@kiriaze">
	

	
	

	<!--Favicon-->
	<link rel="icon" type="image/png" href="/favicon.ico">

	<!--[if (gte IE 6)&(lte IE 8)]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
	<![endif]-->

	<!-- <script type="text/javascript" src="//use.typekit.net/dmh1abo.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 -->

	<!-- google fonts -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300">

	<!-- CSS -->
	<link rel="stylesheet" href="/assets/css/main.min.css">

	<link rel="canonical" href="/blog/code/code-markup">
	<link rel="alternate" type="application/rss+xml" title="Kiriaze" href="/feed.xml" />

</head>

	<body class="">
		<main id="main">
			<div id="ajax-container">
				<header role="banner" id="header">

	<div class="container">

		<a href="/" class="logo js-ajax-link" data-body-class="home-page">
			Kiriaze
		</a>

		<input type="checkbox" id="drawer-toggle" name="drawer-toggle" class="nav-trigger" />
		<a href="#navicon" id="navicon">
			<div class="line line-one"></div>
			<div class="line line-two"></div>
			<div class="line line-three"></div>
		</a>

	</div>

</header>

<div class="menu-overlay">
	<div class="container">
		<nav>
			<ul class="site-nav">

			    
			        
			        
			        <li class="site-nav-item">
						<a href="/index.html" class=" js-ajax-link">Home</a>
					</li>
			    
			        
			        
			        <li class="site-nav-item">
						<a href="/about" class=" js-ajax-link">Bio</a>
					</li>
			    
			        
			        
			        <li class="site-nav-item">
						<a href="/work" class=" js-ajax-link">Work</a>
					</li>
			    
			        
			        
			        <li class="site-nav-item">
						<a href="/labs" class=" js-ajax-link">Labs</a>
					</li>
			    
			        
			        
			            
			        
			        <li class="site-nav-item">
						<a href="/blog" class="current js-ajax-link">Blog</a>
					</li>
			    

			</ul>
		</nav>
		<div class="contact-details">
			<ul class="social-list">
				<li><a href="http://github.com/kiriaze" target="new"><i class="fa fa-github"></i></a></li>
				<li><a href="http://dribbble.com/kiriaze" target="new"><i class="fa fa-dribbble"></i></a></li>
				<li><a href="http://twitter.com/kiriaze" target="new"><i class="fa fa-twitter"></i></a></li>
				<li><a href="mailto:hello@kiriaze.com"><i class="fi fi-mail"></i></a></li>
			</ul>
			<address>
				<ul class="contact-info">
					<li><a href="mailto:hello@kiriaze.com">hello@kiriaze.com</a></li>
					<!-- <li>619.453.5478</li> -->
					<li>
						<span>Little Italy</span>
						<span>San Diego, Ca</span>
					</li>
				</ul>
			</address>
		</div>
	</div>
</div>

				<!-- set ITEM var to either posts or pages to simplify conditionals, keeping page open for comparing -->

	





	




<!-- Mar 30th, 2015, %b %-d, %Y -->
<!-- dont show date for work -->










<!-- if heroText is set to true -->

<section class="hero hero-mod  has-hero "  data-midnight="default" >


	<div class="hero-bg" style="background-image: url(/assets/images/projects/p2.jpg);"></div>


<div class="container hero-blurb">
	<h1 class="title" data-sr="enter bottom">Code Markup</h1>
	<h6 class="subtitle" data-sr="enter bottom"></h6>
	<div class="post-meta">
		
		<span class="date">07.19.2015</span>
		
		

<span class="categories">

	<a href="/categories/#code" title="Pages categorized in code" class="cat"><span class="term">code</span></a>

	<a href="/categories/#" title="Pages categorized in " class="cat"><span class="term"></span></a>

</span>


		

<span class="tags">

	<a href="/tags/#sample post" title="Pages tagged sample post" class="tag"><span class="term">sample post</span></a>,

	<a href="/tags/#code" title="Pages tagged code" class="tag"><span class="term">code</span></a>,

	<a href="/tags/#highlighting" title="Pages tagged highlighting" class="tag"><span class="term">highlighting</span></a>,

	<a href="/tags/#random" title="Pages tagged random" class="tag"><span class="term">random</span></a>.

</span>


	</div>
</div>

</section>



<section class="post-content">
	<div class="container">

		
			
		

		
			<p class="entry-reading-time">
				
				Reading time ~2 minutes
			</p>
			

		<p>Syntax highlighting is a feature that displays source code, in different colors and fonts according to the category of terms. This feature facilitates writing in a structured language such as a programming language or a markup language as both structures and syntax errors are visually distinct. Highlighting does not affect the meaning of the text itself; it is intended only for human readers.<sup id="fnref:1"><a href="#fn:1" class="footnote">1</a></sup></p>

<h3 id="highligh-code-blocks">Highligh Code Blocks</h3>

<p>To modify styling and highlight colors edit <code>/scss/_code-highlight.scss</code>.</p>

<div class="highlight"><pre><code class="language-css" data-lang="css">#container {
    float: left;
    margin: 0 -240px 0 0;
    width: 100%;
}</code></pre></div>

<div class="highlight"><pre><code class="language-html" data-lang="html">&lt;nav class=&quot;pagination&quot; role=&quot;navigation&quot;&gt;
    {% if page.previous %}
        &lt;a href=&quot;{{ site.url }}{{ page.previous.url }}&quot; class=&quot;btn&quot; title=&quot;{{ page.previous.title }}&quot;&gt;Previous article&lt;/a&gt;
    {% endif %}
    {% if page.next %}
        &lt;a href=&quot;{{ site.url }}{{ page.next.url }}&quot; class=&quot;btn&quot; title=&quot;{{ page.next.title }}&quot;&gt;Next article&lt;/a&gt;
    {% endif %}
&lt;/nav&gt;&lt;!-- /.pagination --&gt;</code></pre></div>

<div class="highlight"><pre><code class="language-ruby" data-lang="ruby">module Jekyll
  class TagIndex &lt; Page
    def initialize(site, base, dir, tag)
      @site = site
      @base = base
      @dir = dir
      @name = &#39;index.html&#39;
      self.process(@name)
      self.read_yaml(File.join(base, &#39;_layouts&#39;), &#39;tag_index.html&#39;)
      self.data[&#39;tag&#39;] = tag
      tag_title_prefix = site.config[&#39;tag_title_prefix&#39;] || &#39;Tagged: &#39;
      tag_title_suffix = site.config[&#39;tag_title_suffix&#39;] || &#39;&amp;#8211;&#39;
      self.data[&#39;title&#39;] = &quot;#{tag_title_prefix}#{tag}&quot;
      self.data[&#39;description&#39;] = &quot;An archive of posts tagged #{tag}.&quot;
    end
  end
end</code></pre></div>

<h3 id="standard-code-block">Standard Code Block</h3>

<pre><code>&lt;nav class="pagination" role="navigation"&gt;
    {% if page.previous %}
        &lt;a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}"&gt;Previous article&lt;/a&gt;
    {% endif %}
    {% if page.next %}
        &lt;a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}"&gt;Next article&lt;/a&gt;
    {% endif %}
&lt;/nav&gt;&lt;!-- /.pagination --&gt;
</code></pre>

<h3 id="fenced-code-blocks">Fenced Code Blocks</h3>

<p>To modify styling and highlight colors edit <code>/scss/_code-highlight.scss</code>. Line numbers and a few other things can be modified in <code>_config.yml</code>. Consult <a href="http://jekyllrb.com/docs/configuration/">Jekyll’s documentation</a> for more information.</p>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span class="id">#container</span> {
    <span class="key">float</span>: <span class="value">left</span>;
    <span class="key">margin</span>: <span class="float">0</span> <span class="float">-240px</span> <span class="float">0</span> <span class="float">0</span>;
    <span class="key">width</span>: <span class="float">100%</span>;
}
</pre></div>
</div>
</div>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span class="tag">&lt;nav</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">pagination</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">role</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">navigation</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
    {% if page.previous %}
        <span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">{{ site.url }}{{ page.previous.url }}</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">btn</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">title</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">{{ page.previous.title }}</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>Previous article<span class="tag">&lt;/a&gt;</span>
    {% endif %}
    {% if page.next %}
        <span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">{{ site.url }}{{ page.next.url }}</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">btn</span><span class="delimiter">&quot;</span></span> <span class="attribute-name">title</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">{{ page.next.title }}</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>Next article<span class="tag">&lt;/a&gt;</span>
    {% endif %}
<span class="tag">&lt;/nav&gt;</span><span class="comment">&lt;!-- /.pagination --&gt;</span>
</pre></div>
</div>
</div>

<div class="highlighter-coderay"><div class="CodeRay">
  <div class="code"><pre><span class="keyword">module</span> <span class="class">Jekyll</span>
  <span class="keyword">class</span> <span class="class">TagIndex</span> &lt; <span class="constant">Page</span>
    <span class="keyword">def</span> <span class="function">initialize</span>(site, base, dir, tag)
      <span class="instance-variable">@site</span> = site
      <span class="instance-variable">@base</span> = base
      <span class="instance-variable">@dir</span> = dir
      <span class="instance-variable">@name</span> = <span class="string"><span class="delimiter">'</span><span class="content">index.html</span><span class="delimiter">'</span></span>
      <span class="predefined-constant">self</span>.process(<span class="instance-variable">@name</span>)
      <span class="predefined-constant">self</span>.read_yaml(<span class="constant">File</span>.join(base, <span class="string"><span class="delimiter">'</span><span class="content">_layouts</span><span class="delimiter">'</span></span>), <span class="string"><span class="delimiter">'</span><span class="content">tag_index.html</span><span class="delimiter">'</span></span>)
      <span class="predefined-constant">self</span>.data[<span class="string"><span class="delimiter">'</span><span class="content">tag</span><span class="delimiter">'</span></span>] = tag
      tag_title_prefix = site.config[<span class="string"><span class="delimiter">'</span><span class="content">tag_title_prefix</span><span class="delimiter">'</span></span>] || <span class="string"><span class="delimiter">'</span><span class="content">Tagged: </span><span class="delimiter">'</span></span>
      tag_title_suffix = site.config[<span class="string"><span class="delimiter">'</span><span class="content">tag_title_suffix</span><span class="delimiter">'</span></span>] || <span class="string"><span class="delimiter">'</span><span class="content">&amp;#8211;</span><span class="delimiter">'</span></span>
      <span class="predefined-constant">self</span>.data[<span class="string"><span class="delimiter">'</span><span class="content">title</span><span class="delimiter">'</span></span>] = <span class="string"><span class="delimiter">&quot;</span><span class="inline"><span class="inline-delimiter">#{</span>tag_title_prefix<span class="inline-delimiter">}</span></span><span class="inline"><span class="inline-delimiter">#{</span>tag<span class="inline-delimiter">}</span></span><span class="delimiter">&quot;</span></span>
      <span class="predefined-constant">self</span>.data[<span class="string"><span class="delimiter">'</span><span class="content">description</span><span class="delimiter">'</span></span>] = <span class="string"><span class="delimiter">&quot;</span><span class="content">An archive of posts tagged </span><span class="inline"><span class="inline-delimiter">#{</span>tag<span class="inline-delimiter">}</span></span><span class="content">.</span><span class="delimiter">&quot;</span></span>
    <span class="keyword">end</span>
  <span class="keyword">end</span>
<span class="keyword">end</span>
</pre></div>
</div>
</div>

<h3 id="github-gist-embed">GitHub Gist Embed</h3>

<p>An example of a Gist embed below.</p>

<script src="https://gist.github.com/kiriaze/463b12ac9958189ae0b4.js"> </script>

<div class="footnotes">
  <ol>
    <li id="fn:1">
      <p><a href="http://en.wikipedia.org/wiki/Syntax_highlighting">http://en.wikipedia.org/wiki/Syntax_highlighting</a> <a href="#fnref:1" class="reversefootnote">&#8617;</a></p>
    </li>
  </ol>
</div>


		<hr>

		
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'kiriaze';
    var disqus_identifier = "/blog/code/code-markup";

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



	</div>
</section>




	
		<a href="/labs/juice/" title="next Post:Introducing Juice." class="next-post-alt js-ajax-link">
			<div class="container">
				<h6>Explore Another Post</h6>
				<h2>Introducing Juice.</h2>
			</div>
			<div class="hero-bg" style="background-image: url(); background-position: center center;"></div>
		</a>
	


				
<footer role="contentinfo" id="footer">
	<div class="container">
		<div class="row">
			<p class="made-with">
				Made with <i class="fa fa-heart red"></i> in San Diego.
			</p>
		</div>
		<div class="row">
			<a href="/" class="logo js-ajax-link">K</a>
			<ul class="social-list">
				<li><a href="http://github.com/kiriaze" target="new"><i class="fa fa-github"></i></a></li>
				<li><a href="http://dribbble.com/kiriaze" target="new"><i class="fa fa-dribbble"></i></a></li>
				<li><a href="http://twitter.com/kiriaze" target="new"><i class="fa fa-twitter"></i></a></li>
				<li><a href="mailto:hello@kiriaze.com"><i class="fi fi-mail"></i></a></li>
			</ul>
		</div>
	</div>
</footer>

				<script src="/assets/js/app.min.js"></script>


<script type="text/javascript">
	var searchInput = document.getElementById('search-input');
	if ( typeof(searchInput) != 'undefined' && searchInput != null ) {
		SimpleJekyllSearch({
			searchInput: document.getElementById('search-input'),
			resultsContainer: document.getElementById('results-container'),
			json: '/search.json',
			searchResultTemplate: '<li><a href="{url}" title="{title}"><span>{category}</span>{title}<span>{desc}</span></a></li>',
			noResultsText: 'No results found',
			limit: 10,
			fuzzy: true,
			exclude: []
		});
	}
</script>




			</div>
		</main>
	</body>
</html>
