/* Typography
----------------------------------------- */
*,
*:after,
*:before {
	box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
	color: $dark-grey;
}

::-moz-selection {
	background: $primary-color;
	color: white;
	text-shadow: none;
}

::selection {
	background: $primary-color;
	color: white;
	text-shadow: none;
}

hr {
	border: none;
	clear: both;
	margin: 44px auto 54px;
	width: 65%;
	border-bottom: 5px solid $light-grey;
	display: inline-block;
	left: 50%;
	margin-left: -32.5%;
	position: relative;
}

abbr, acronym {
	text-transform: uppercase;
	font-size: 90%;
	color: #222;
	border-bottom: 1px solid #cccccc;
	cursor: help;
}

abbr {
	text-transform: none;
}

img {
	vertical-align: middle;
	interpolation-mode: bicubic;
}

/*
* Flexible Media
*/
img, video, canvas, object, embed  {
	max-width: 100%;
	height: auto;
}


/*
* Flexible Video iFrame Embed
* use like :
<figure class="aspect">
	<iframe src="https://www.youtube.com/embed/4Fqg43ozz7A"></iframe>
</figure>
*/
figure.aspect {
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
	overflow: hidden;
	iframe,
	video,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

code,
pre {
	font-family: monospace, serif;
	@include font-size(12);
	word-wrap: normal;
	border: 1px solid lighten($black, 85);
	background-color: lighten($black, 90);
}

pre {
	padding: 0.5em 1em;
	margin: 0 0 1rem;
	font-family: Monaco, monospace, sans-serif;
	overflow-x: auto;
	border-radius: 2px;
}

code {
	margin: 0 2px;
	padding: 0 5px;
	font-family: Monaco, monospace, sans-serif;
	line-height: 1.5;
}

pre code {
	background-color: none;
	border: none;
}

html,
body {
	font-size: $base-font-size;
}

html {
	font-family: sans-serif;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

body {
	line-height: 1;
	font-family: $body-font;
	color: $dark-grey;
	-webkit-font-smooth: always;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
	background: #fff;

	overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);

	text-size-adjust: none;
}

// added by flexible content
[class*='text-align-'] {
    text-align: center;
}

@include breakpoint($medium) {
    .text-align-left {
        text-align: left !important;
    }
    .text-align-right {
        text-align: right !important;
    }
    .text-align-center {
        text-align: center !important;
    }
}


/*=====================================================

Heading styles

======================================================*/
@for $i from 1 through 6 {

	h#{$i} {

		font-family: $header-font;
		font-style: normal;
		font-weight: normal;
		font-stretch: normal;

		word-wrap: break-word;
		word-break: break-word;

		line-height: $header-line-height;
		margin-top: $header-top-margin;
		margin-bottom: $header-bottom-margin;

		&.no-margin {
			margin: 0;
		}

		small {
			line-height: 0;
		}

	}

}

h1 {
	@include font-size($h1-font-size);
}

h2 {
	@include font-size($h2-font-size);
}

h3 {
	@include font-size($h3-font-size);
}

h4 {
	@include font-size($h4-font-size);
}

h5 {
	@include font-size($h5-font-size);
}

h6 {
	@include font-size($h6-font-size);
}



/*=====================================================

Paragraph styles

======================================================*/
p {
	@include font-size($paragraph-font-size);
	line-height: $paragraph-line-height;
	margin-bottom: $paragraph-bottom-margin;
	word-wrap: break-word;
	&.lead {
		@include font-size($paragraph-lead-font-size);
		margin-bottom: $paragraph-lead-bottom-margin;
	}
}

a {
	text-decoration: none;
	line-height: inherit;
	outline: 0;
	color: $primary-color;
	transition: $transition;
	&:hover{
		color: $dark-grey;
	}
}

small,
.small:not(a) {
	@include font-size($small-font-size);
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}


/*=====================================================

Lists

======================================================*/
ul,
ol {
	font-size: initial;
	li {
		line-height: $list-line-height;
		margin-bottom: $list-bottom-margin;
	}
}

ul {
	list-style: none inside;
	&.square,
	&.circle,
	&.disc {

	}
	&.square {
		list-style: square inside;
	}
	&.circle {
		list-style: circle inside;
	}
	&.disc {
		list-style: disc inside;
	}
	ul {

	}
}

ol {
	list-style: decimal inside;
	li {
		margin-left: $list-disc-left-margin;
	}
	ol {

	}
}

dl dt {
	font-weight: bold;
}

blockquote,
q {
	font-family: $body-font;
	letter-spacing: 2px;
	font-weight: 400;
	border-left: 3px solid;
	padding: 2%;
	margin: 2%;
	p{
		@include font-size($blockquotes-font-size, 1.3);
	}
	cite{
		font-size: initial;
		padding-top: 2%;
		display: block;
	}
}
